@import 'reset';
@import 'variable';
@import 'grid';

.wrap {
    width: 1024px;
    margin: 0 auto;
    font-family: Microsoft JhengHei Regular;
    line-height: 1.5;
    @include iphone(){
        width: 100%;
    }
}
.header {
    background: url(../img/Hero.png) no-repeat;
    height: auto;
    text-align: center;
    padding-top:75px; 
    margin-bottom: 50px;
    h1 {
        font-size: $font-size-xxl;
        color: white;
        margin-bottom: 90px;
        letter-spacing: 3.89px;
    }
    select {
        width: 452px;
        height: 48px;
        font-size: $font-size-m;
        font-family: Microsoft JhengHei Regular;
        padding: 0 10px;
        background: url(../img/icons_down.png) no-repeat;
        background-position: 98% center ;
        background-color: rgba(255,255,255,0.70);
        margin-bottom: 80px;
        border-radius: 3px;
        /*移除箭頭樣式*/
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        @include iphone (){
            width: 80%;
        }
    }
    select:focus {
        border: 3px solid #fff;    
    }
    .popular {
        width: 800px;
        height: 112px;
        background: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
        border-radius: 5px;
        text-align: left;
        margin: 0 auto ;
        padding: 20px 26px;
        box-sizing: border-box;
        @include iphone(){
            width: 95%;
            height: auto;
        }
        h2 {
            font-size: $font-size-m;
            font-weight: bold;
            margin-bottom: 10px;
            @include iphone(){
                text-align: center;
            }
        }
        input {
            width: 130px;
            height: 42px;
            font-size: $font-size-l;
            color: #FFFFFF;
            border-radius: 5px;
            border: 0 ;
            margin-left: 30px;
            @include iphone (){
                width: 90%;
                margin:0 0 10px 12px;       
                display:none;
            }
        }
        input:hover {
            cursor: pointer;
        }
        input[value="苓雅區"] {
            background: #8A82CC;
        }
        input[value="三民區"] {
            background: #FFA782;
        }
        input[value="新興區"] {
            background: #F5D005;
        }
        input[value="鹽埕區"] {
            background: #559AC8;
        }
    }
}
.container {
    position: relative;
    hr {
        width: 900px;
        border: 1px dashed #559AC8;
        
        @include iphone(){
            width: 90%;
        }
    }
    .down {
        background: url(../img/icons_down.png) no-repeat center center #fff;
        width: 24px;
        height: 24px;
        border: 1px solid;
        border-radius: 24px;
        margin: 0 auto;
        position: relative;
        top:-20px;
        margin-bottom: 50px;
    }
    h2{
        font-size: 36px;
        color: #8A82CC;
        text-align: center;
        margin-bottom: 24px;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            display: flex;
            width: 45%;
            text-align: left;
            flex-direction: column;
            position: relative;
            margin-bottom: 36px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
            line-height: 32px;
            @include iphone(){
                width: 95%;
            }
            .picture {
                height: 155px;
                background-size: 100%;
                background-position: 0 -80px;
                margin-bottom: 16px;
                @include iphone(){
                    background-position: 0;
                }
            } 
            h3 {
                position: absolute;
                top: 117px;
                left: 22px;
                font-size: $font-size-xl;
                color: #fff;
                
            }     
            h4 {
                position: absolute;
                top: 125px;
                right: 22px;
                color: #fff;
                font-size: $font-size-s;
            } 
            .content {
                margin-left: 24px;
                font-size: $font-size-s;
                margin-bottom: 6px;
                img {
                    margin-right: 10px;
                }
            }  
            .ticket {
                position: absolute;
                bottom: 8px;
                right: 22px;
            }
        }
    }
}
.footer {
    height: 90px;
    background: #559AC8;
    text-align: center;
    padding: 24px;
    box-sizing: border-box;
    font-size: $font-size-xs;
    h2 {
        color: #fff;
    }
    h3 {
        color: #FFD366; 
    }
}
